!!!
%html{:lang => "en", "ng-app" => "tacosApp"}
  %head
    %meta{:charset => "utf-8"}/
    %title My AngularJS App
    = stylesheet_link_tag "angular_app", media: "all"
  %body
    %ul.menu
      %li
        %a{:href => "#/view1"} view1
      %li
        %a{:href => "#/view2"} view2
    %div{"ng-view" => ""}
    %div

    = javascript_include_tag "angular_app"
