!!!
%html{:lang => "en", "ng-app" => "tacosApp"}
  %head
    %meta{:charset => "utf-8"}/
    %title My AngularJS App
    = stylesheet_link_tag "angular_app", media: "all"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        %a.brand{href:'#/'} Taco Manager
        %ul.nav
          %li
            %a{href:'#/users'}Users
          %li
            %a{href:'#/teams'}Teams
    .row-fluid
      %div{"ng-view" => ""}
    = javascript_include_tag "angular_app"
