%table.table.table-striped
  %tr
    %th Name
  %tr{"ng-repeat" => 'user in users'}
    %td
      {{user.name}}

%form{"name" => 'user', 'ng-submit' => 'submit(user)'}
  %input{'type' => 'text', 'ng-model' => 'user.name', 'required' => true,'placeholder' => 'New User'}
  %select{ 'ng-model' => 'user.team_id', 'required' => true, 'ng-options' => 't.id as t.name for t in teams' }
  %input.btn.btn-primary{type: 'submit', value: 'Add'}
