%a{ href: '/a/#/users/new'} New
%table
  %tr
    %th Name
  %tr{"ng-repeat" => 'user in users'}
    %td
      {{user.name}}

%form{"name" => 'user', 'ng-submit' => 'submit(user)'}
  %input{ 'name' => 'input', 'ng-model' => 'user.name', 'required' => true}
  %select{ 'ng-model' => 'user.team_id', 'required' => true, 'ng-options' => 't.id as t.name for t in teams'}
  %input{type: 'submit'}
