%table.table.table-striped
  %thead
    %tr
      %th
        Name
      %th
        Team
      %th
        Current Tacopoints
      %th
        Total Tacopoints
      %th
        Sponsored
  {{#each model}}
  %tr
    %td
      {{name}}
    %td
      {{team.name}}
    %td
      {{current_tacopoints}}
    %td
      {{taco_points_count}}
    %td
      {{sponsor_count}}

  {{/each}}
